<div *ngIf="currentFlow | async; else loadingFlow; let flow">
  <table class="browser-default" border="1">
    <tr *ngFor="let row of createRange(maxArray(flow.flow)); first as isFirstRow">
      <td *ngIf="isFirstRow" class="node-wrapper no-border">
        <div class="node-title z-depth-1">Start</div>
        <div class="start-node node"></div>
      </td>
      <td *ngIf="!isFirstRow"></td>
      <td *ngFor="let job of flow.flow; index as j" class="node-wrapper no-border" [ngClass]="{'level-2-node': !isFirstRow}">
          <div *ngIf="!isArray(job) && isFirstRow">
            <div class="node-title z-depth-1">
              {{job.name}}
            </div>
          
            <div class="node node-deletable" 
              [ngClass]="{
                'node-success': job.status === 'SUCCESS',
                'node-error': job.status !== 'SUCCESS' && job.status !== 'PROGRESS' && job.status,
                'node-progress': job.status === 'PROGRESS'}">
                <span (click)="deleteJob(j)">
                  <i class="material-icons">close</i>
                </span>
            </div>
          </div>
          <div *ngIf="isArray(job) && job[row]">
            <div class="node-title z-depth-1">
              {{job[row].name}}
            </div>
          
            <div class="node node-deletable" 
              [ngClass]="{
                'node-success': job[row].status === 'SUCCESS',
                'node-error': job[row].status !== 'SUCCESS' && job[row].status !== 'PROGRESS' && job[row].status,
                'node-progress': job[row].status === 'PROGRESS'}">
              <span (click)="deleteJob(j, row)">
                <i class="material-icons">close</i>
              </span>
            </div>
          </div>
          <!--
          <div *ngIf="!isArray(job) && row == 1">
            add
          </div>
          <div *ngIf="isArray(job) && row >= 1">
            add {{job[row] == job[row - 1]}}
          </div>-->
          <div *ngIf="(!isArray(job) && row == 1) || (isArray(job) && !job[row] && !!job[row - 1])">
            <div class="node-title z-depth-1 add-title">Add a job</div>
            <div class="node" (click)="pushJob(j)">
              <i class="material-icons" style="color: grey">add</i>
            </div>
          </div>
      </td>
      <td *ngIf="isFirstRow" class="node-wrapper no-border">
        <div class="node-title z-depth-1 add-title">Add a job</div>
        <div class="node node-add" (click)="pushJob()">
          <i class="material-icons" style="color: grey">add</i>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td *ngFor="let job of flow.flow; index as j" class="node-wrapper no-border level-2-node">
        <div *ngIf="isArray(job) && !job[maxArray(flow.flow)] && !!job[maxArray(flow.flow) - 1]; else nothing">
          <div class="node-title z-depth-1 add-title">Add a job</div>
          <div class="node" (click)="pushJob(j)">
            <i class="material-icons" style="color: grey">add</i>
          </div>
        </div>
        <ng-template #nothing></ng-template>
      </td>
    </tr>
  </table>
</div>

<ng-template #loadingFlow>Waiting...</ng-template>
