<div class="navbar-fixed">
  <nav class="indigo">
    <div class="nav-wrapper">
      <ul class="left">
        <li class="logo"><a href="#!"><img src="assets/favicon.ico"/></a></li>
        <li>
          <a href="">
            <i class="material-icons left">home</i>
            Home
          </a>
        </li>
        <li>
          <a href="">
            <i class="material-icons left">open_in_new</i>
            Jenkins
          </a>
        </li>
      </ul>
      <ul class="right">
        <li><a href=""><i class="material-icons">notifications</i></a></li>
        <li style="padding-right: 20px">
          <i class="material-icons left">person</i>
          As Ahmed Moalla
        </li>
      </ul>
    </div>
  </nav>
</div>